@namespace AngryMonkey.Cloud.Components
@inject IJSRuntime jsRuntime

<div class="amc-videoplayer @ClassAttributes" @ref="ComponentElement" @onmousemove="MainMouseMove" @onfullscreenchange="OnFullScreenChange" @onmousewheel="OnMouseWheel" @onclick="OnComponentClick">

    <div class="amc-videoplayer-video">
        <video src="@VideoUrl" @onchange="OnVideoChange"></video>
    </div>

    <div class="amc-videoplayer-content">

        <div class="amc-videoplayer-empty" @onclick="OnEmptyClick" @ontouchstart="OnEmptyTouch">
            @if (ShowSideBar)
            {
                <div class="amc-videoplayer-close">
                    <span>
                        @if (ShowSideBarMenu)
                        {
                            <svg viewBox="0 0 8 8">
                                <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="2.25" y1="2.25" x2="5.75" y2="5.75" />
                                <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="5.75" y1="2.25" x2="2.25" y2="5.75" />
                            </svg>
                        }
                        else
                        {
                            <svg viewBox="0 0 8 8">
                                <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="2.59" y1="4" x2="5.41" y2="6.83" />
                                <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="5.41" y1="1.17" x2="2.59" y2="4" />
                            </svg>
                        }
                    </span>
                </div>
            }
        </div>

        @if (ShowSideBar)
        {
            <div class="amc-videoplayer-sidebar">
                @if (ShowSideBarMenu)
                {
                    <div class="amc-videoplayer-sidebar-menu">
                        <button class="amc-videoplayer-menu-info" @onclick="ShowVideoInfo">More Info</button>
                        <button class="amc-videoplayer-menu-about" @onclick="ShowVideoAbout">About</button>
                    </div>
                }
                else
                {
                    @if (ShowSideBarInfo)
                    {
                        <div class="amc-videoplayer-sidebar-section">
                            <label>Title</label>
                            <div class="amc-videoplayer-value">@Title</div>

                            <label>Duration</label>
                            <div class="amc-videoplayer-value">@Duration</div>

                            <label>Video Source</label>
                            <div class="amc-videoplayer-value">@VideoUrl</div>
                        </div>
                    }

                    @if (ShowSideBarAbout)
                    {
                        <div class="amc-videoplayer-sidebar-section">
                            <br />
                            <b>Cloud Video Player</b>
                            <br /><br />
                            is an open source Blazor component managed by
                            <br />
                            <a target="_blank" href="https://angrymonkeycloud.com">Angry Monkey Cloud</a>
                        </div>
                    }

                }
            </div>
        }
    </div>

    @*    @if (ShowSideBar == false)
        {
        <div class="amc-videoplayer-info">
        <div class="amc-videoplayer-title">@Title</div>
        </div>
        }*@

    <div class="amc-videoplayer-seekinfo">
        <div class="amc-videoplayer-seekinfo-container">
            @*
                <div class="amc-videoplayer-seekinfo-canvas">
                <canvas />
                </div>*@

            <div class="amc-videoplayer-seekinfo-duration">
                @DisplaySeekInfoTime
            </div>
        </div>
    </div>

    <div class="amc-videoplayer-controls">
        <div class="amc-videoplayer-controls-left">
            @* Play *@
            <div class="amc-videoplayer-play">
                <button @onclick="PlayVideo">
                    <svg viewBox="0 0 8 8">
                        <path class="amc-videoplayer-svg-stroke" d="M6.9,3.7L1.4,0.6c-0.1-0.1-0.2-0.1-0.3,0C1,0.6,0.9,0.8,0.9,0.9v6.2c0,0.1,0.1,0.2,0.2,0.3c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2,0l5.5-3.1C7,4.2,7.1,4.1,7.1,4C7.1,3.9,7,3.8,6.9,3.7z" />
                    </svg>
                </button>
            </div>

            @* Pause *@
            <div class="amc-videoplayer-pause">
                <button @onclick="PauseVideo">
                    <svg viewBox="0 0 8 8">
                        <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="3" y1="1.25" x2="3" y2="6.75" />
                        <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="5" y1="1.25" x2="5" y2="6.75" />
                    </svg>
                </button>
            </div>

            @* Stop *@
            <div class="amc-videoplayer-stop">
                <button @onclick="StopVideo">
                    <svg viewBox="0 0 8 8">
                        <rect class="amc-videoplayer-svg-stroke" x="1.5" y="1.5" width="5" height="5" rx="0.78" />
                    </svg>
                </button>
            </div>

            @* Volume *@
            <div class="amc-videoplayer-volume @(DoShowVolumeControls? "_extended": string.Empty)">
                <button class="amc-videoplayer-volume-button" @onclick="OnVolumeButtonClick">
                    <svg viewBox="0 0 8 8">
                        <path class="amc-videoplayer-svg-stroke" d="M2.24,5.31,4.57,6.47a.28.28,0,0,0,.25,0,.25.25,0,0,0,.12-.22V1.75a.25.25,0,0,0-.12-.22.28.28,0,0,0-.13,0,.27.27,0,0,0-.12,0L2.24,2.84l-1.5.31a.37.37,0,0,0-.3.36V4.7a.38.38,0,0,0,.32.37Z" />

                        @if (Volume == 0 || IsMuted)
                        {
                            <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="6.12" y1="3.42" x2="7.62" y2="4.92" />
                            <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="7.62" y1="3.42" x2="6.12" y2="4.92" />
                        }
                        else
                        {
                            <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="6.5" y1="@(4 - (Volume * 2))" x2="6.5" y2="@(4 + (Volume * 2))" />
                        }

                    </svg>
                </button>

                @if (DoShowVolumeControls)
                {
                    <div class="amc-videoplayer-volume-value">
                        @DisplayVolume
                    </div>

                    <button class="amc-videoplayer-volume-mute" @onclick="MuteVolume">
                        <svg viewBox="0 0 8 8">
                            <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="2.25" y1="2.25" x2="5.75" y2="5.75" />
                            <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="5.75" y1="2.25" x2="2.25" y2="5.75" />
                        </svg>
                    </button>

                    <div class="amc-videoplayer-volume-bar">
                        <ProgressBar Step="0.1" Value="@Volume" Total="1" Style=ProgressBarStyle.Disk OnChanging="OnVolumeChanging" OnChanged="OnVolumeChanged" />
                    </div>
                }
            </div>

            @* Current Time / Duration *@
            <div class="amc-videoplayer-timeduration">
                @DisplayTimeDuration
            </div>
        </div>

        <div class="amc-videoplayer-controls-middle">
            <div class="amc-videoplayer-duration">
                <span></span>
            </div>
        </div>

        <div class="amc-videoplayer-controls-right">
            <div class="amc-videoplayer-more">
                <button @onclick="MoreButtonInfo">
                    <svg viewBox="0 0 8 8">
                        <circle class="amc-videoplayer-svg-fill" cx="4" cy="4" r="0.5" />
                        <circle class="amc-videoplayer-svg-fill" cx="6.5" cy="4" r="0.5" />
                        <circle class="amc-videoplayer-svg-fill" cx="1.5" cy="4" r="0.5" />
                    </svg>
                </button>
            </div>

            <div class="amc-videoplayer-fullscreen">
                @if (!IsFullScreen)
                {
                    <button class="amc-videoplayer-enterfullscreen" @onclick="EnterFullScreen">
                        <svg viewBox="0 0 8 8">
                            <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="6.25" y1="1.71" x2="3.75" y2="1.71" />
                            <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="6.25" y1="4.29" x2="6.25" y2="1.79" />
                            <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="1.75" y1="6.29" x2="4.25" y2="6.29" />
                            <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="1.75" y1="3.71" x2="1.75" y2="6.21" />
                        </svg>
                    </button>
                }
                else
                {
                    <button class="amc-videoplayer-exitfullscreen" @onclick="ExitFullScreen">
                        <svg viewBox="0 0 8 8">
                            <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="4.5" y1="3.54" x2="7" y2="3.54" />
                            <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="4.5" y1="0.96" x2="4.5" y2="3.46" />
                            <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="3.5" y1="4.46" x2="1" y2="4.46" />
                            <line class="amc-videoplayer-svg-stroke _corner-rounded" x1="3.5" y1="7.04" x2="3.5" y2="4.54" />
                        </svg>
                    </button>
                }
            </div>
        </div>
    </div>

    <div class="amc-videoplayer-progress"
         @onmousedown="OnProgressMouseDown"
         @ontouchstart="OnProgressTouchStart"
         @onmousemove="OnProgressMouseMove"
         @onmouseout="OnProgressMouseOut">
        <ProgressBar Value="CurrentTime" Total="Duration" Style="ProgressBarStyle" OnChanged="OnProgressChanged" OnChanging="OnProgressChanging" />
    </div>
</div>