@namespace AngryMonkey.Cloud.Components

<div class="amc-datetimepicker">

    <div class="amc-datetimepicker-header">
        <div class="amc-datetimepicker-selecteddate">@SelectedDateTimeDisplay</div>
    </div>

    @if (ShowDate)
    {
        <AngryMonkey.Cloud.Components.Partials.DateTimePickerNavigation Title="@DisplaySelectionInfo"
                                                                    OnTitleClicked="ChangeDateSelectionState"
                                                                    OnPreviousClicked="OnPrevClick"
                                                                    OnNextClicked="OnNextClick" />

        <div class="amc-datetimepicker-date" @ontouchstart="OnBodyTouchStart" @ontouchend="OnBodyTouchEnd">
            @if (DateSelectionState == DatePickerSelectionState.Day)
            {
                <div class="amc-datetimepicker-calendar">
                    <div class="amc-datetimepicker-calendar-weeks">
                        @foreach (string weekday in WeekDaysNames)
                        {
                            <div class="amc-datetimepicker-calendar-week">@weekday</div>
                        }
                    </div>

                    <div class="amc-datetimepicker-calendar-days">
                        @foreach (DateTimePickerDate date in Days)
                        {
                            <div class="amc-datetimepicker-calendar-day @date.CssClasses" @onclick="() => OnDateSelected(date)">@date.Day</div>
                        }
                    </div>
                </div>
            }
            else if (DateSelectionState == DatePickerSelectionState.Month)
            {
                <div class="amc-datetimepicker-months">
                    @foreach (DateTimePickerMonth month in Months)
                    {
                        <div class="amc-datetimepicker-months-month @month.CssClasses" @onclick="() => OnMonthSelected(month.Month)">@month.Name</div>
                    }
                </div>
            }
            else
            {
                <div class="amc-datetimepicker-years">
                    @foreach (DateTimePickerYear year in Years)
                    {
                        <div class="amc-datetimepicker-years-year @year.CssClasses" @onclick="() => OnYearSelected(year.Year)">@year.Year</div>
                    }
                </div>
            }
        </div>
    }

    @if (ShowTime)
    {
        @if (ShowDate)
        {
            <div class="amc-datetimepicker-datetimeseperator"></div>
        }

        <AngryMonkey.Cloud.Components.Partials.DateTimePickerNavigation Title="@DisplayTimeInfo"
                                                                    OnTitleClicked="ChangeTimeSelectionState"
                                                                    OnPreviousClicked="OnPrevTimeSelectionStateClick"
                                                                    OnNextClicked="OnNextTimeSelectionStateClick" />

        <div class="amc-datetimepicker-time">
            @if (TimeSelectionState == TimePickerSelectionState.Minute)
            {
                <div class="amc-datetimepicker-minutes">
                    @foreach (DateTimePickerTime minute in Minutes)
                    {
                        <div class="amc-datetimepicker-minutes-minute @minute.CssClasses" @onclick="() => OnMinuteClick(minute)">
                            @minute.DisplayMinute
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="amc-datetimepicker-hours">
                    @foreach (DateTimePickerHour hour in Hours)
                    {
                        <div class="amc-datetimepicker-hours-hour @hour.CssClasses" @onclick="() => OnHourClick(hour)">@hour.DisplayHour</div>
                    }
                </div>
            }
        </div>
    }
</div>