@namespace AngryMonkey.Cloud.Components


<div class="amc-datetimepicker">
    <div class="amc-datetimepicker-header">
        <div class="amc-datetimepicker-selecteddate">@SelectedDateDisplay</div>

        <div class="amc-datetimepicker-selection">
            <button class="amc-datetimepicker-selection-previous" @onclick="OnPrevClick">‹</button>
            <div class="amc-datetimepicker-selection-info">
                <span @onclick="ChangeSelectionState">@DisplaySelectionInfo</span>
            </div>
            <button class="amc-datetimepicker-selection-next" @onclick="OnNextClick">›</button>
        </div>
    </div>
    <div class="amc-datetimepicker-body">
        @if (SelectionState == DateTimePickerSelectionState.Day)
        {
            <div class="amc-datetimepicker-calendar">
                <div class="amc-datetimepicker-calendar-weekdays">
                    @foreach (string weekday in WeekDaysNames)
                    {
                        <div>@weekday</div>
                    }
                </div>

                <div class="amc-datetimepicker-calendar-days">
                    @foreach (DateTimePickerDate date in Days)
                    {
                        <div class="amc-datetimepicker-calendar-day @date.Classes" @onclick="() => OnDateSelected(date)">@date.Day</div>
                    }
                </div>
            </div>
        }
        else if (SelectionState == DateTimePickerSelectionState.Month)
        {
            <div class="amc-datetimepicker-months">
                @foreach (DateTimePickerMonth month in Months)
                {
                    <div class="amc-datetimepicker-months-month @month.Classes" @onclick="() => OnMonthSelected(month.Month)">@month.Name</div>
                }
            </div>
        }
        else
        {
            <div class="amc-datetimepicker-years">
                @foreach (DateTimePickerYear year in Years)
                {
                    <div class="amc-datetimepicker-years-year @year.Classes" @onclick="() => OnYearSelected(year.Year)">@year.Year</div>
                }
            </div>
        }
    </div>
</div>