@namespace AngryMonkey.Cloud.Components

@inject CloudWeb2 cloudWeb
@{
    string? title = CloudPage.TitleResult(cloudWeb);
    string? keywords = CloudPage.KeywordsResult();
    string? description = CloudPage.DescriptionResult();
    string? robots = CloudPage.RobotsResult();
}

@if (!string.IsNullOrEmpty(title))
{
    <title>@title</title>
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<base href="@cloudWeb.PageDefaults.BaseUrl" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

@if (!string.IsNullOrEmpty(keywords))
{
    <meta name="keywords" content="@keywords" />
}

@if (!string.IsNullOrEmpty(description))
{
    <meta name="description" content="@description" />
}

@if (!string.IsNullOrEmpty(robots))
{
    <meta name="robots" content="@robots" />
}

@code {
    [Parameter] public required CloudPage CloudPage { get; set; }
}